In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
# You can also create your own Dataframe by using python dictionary
df = weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
# shape means the dimensions, 6 rows (0 is counted as well) and 4 columns
rows, columns = df.shape
rows
columns

4

In [ ]:
# It prints inital few rows (Useful for big dataset)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
# You can specify the number of rows you want to print (0 is counted as a row)
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [ ]:
# It prints last 5 rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
# It prints last one row
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [ ]:
# index slicing!
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [ ]:
# If you want to print everything (you can use either of them)
df[:]
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
# In order to print colums you use: (PRINTS THE NUMBER OF COLUMNS )
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
# If you want to print the individual columns (CONTENT OF COLUMNS)
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [ ]:
df.event
df["event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [ ]:
# the columns in your dataset are basically of types and in Pandas they're sereis
type(df['event'])

pandas.core.series.Series

In [ ]:
# It prints individual columns, if you want to
df[["event",'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [ ]:
# It prints the entire temperature column
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [ ]:
# # It prints the the maximum temperature
df['temperature'].max()

35

In [ ]:
# # It prints the the average of temperatures
df['temperature'].mean()

30.333333333333332

In [ ]:
# # It prints the minnimum temperature
df['temperature'].min()

24

In [ ]:
# # It prints the standard deviation
df['temperature'].std()

3.8297084310253524

In [ ]:
# It prints the statistics on your dataset
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
# Conditionally selecting data 
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [ ]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
# It prints only the day instead of other columns where temperature was maximum
df['day'][df.temperature==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [ ]:
df[['day', 'temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [ ]:
# Pandas has whole bunch of opreations on their documentation
# https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [ ]:
# If you look closely , it contaions integer index which it assigns it automatically ( 6 IS NOT INCLUDED)
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
# Let's say if you wanna change the index to be something else like "DAY"
df.set_index('day', inplace=True)
# Now the index is changed to actual day
# The advantage of this is now you can run the loc funtion and say that give me the data on the specific date

In [ ]:
df.loc['1/4/2017']
# It gives you an error because when you run set_index command, it gives you a new dataset instead of modifying the original
# to modify the original one you have to say df.set_index('day', inplace=True)

KeyError: ignored

In [ ]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [ ]:
# if you want to reset the index, you can do this:  (IT REQUIRES YOU TO PUT INPLACE=TRUE)
df.reset_index(inplace=True)
df

   event  index       day  temperature  windspeed
0   Rain      0  1/1/2017           32          6
1  Sunny      1  1/2/2017           35          7
2   Snow      2  1/3/2017           28          2
3   Snow      3  1/4/2017           24          7
4   Rain      4  1/5/2017           32          4
5  Sunny      5  1/6/2017           31          2

In [ ]:
df.set_index('event', inplace=True)
df
# You can see that index is not unique, because events get repeated

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [ ]:
# You can get values associated with Snow like a hash function as a particular column like hash key.
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7